@import "scss/gruvbox.scss";

/// left
@import "widgets/name/name.scss";
@import "widgets/apps/apps.scss";

/// center workspaces
@import "widgets/workspaces/workspaces.scss";

/// right
@import "widgets/battery/battery.scss";
@import "widgets/volume/volume.scss";
@import "widgets/sys/sys.scss";
@import "widgets/wifi/wifi.scss";
@import "widgets/time/time.scss";

* {
    all: unset;
    //font-family: feather;
    //font-family: mononoki Nerd Font;
    font-family: JetbrainsMono Nerd Font;
}

.bar_class {
    padding: 7px;
    font-weight: bold;
}

tooltip.background {
    background-color: $background0;
    font-size: 18;
    border-radius: 10px;
    color: $foreground0;
}

tooltip label {
    margin: 6px;
}
