/// workspaces style

.workspacesWidgetLayout {
    font-size: 30px;
    padding: 0 17px 0 17px;
    border-radius: 30px;
}
.workspacesWidgetLayoutHard2 {
    background-color: $background0;
    border-radius: 30px;
    margin: 10px 0 10px 0;
}
//
.works {
    padding-right: 20px;
    padding-left: 10px;
}

.ws-btn0 {
    color: $background4;
}

.ws-btn01,
.ws-btn02,
.ws-btn03,
.ws-btn04,
.ws-btn05,
.ws-btn06,
.ws-btn07,
.ws-btn08,
.ws-btn09,
.ws-btn010 {
    color: $foreground0;
}

.ws-btn011,
.ws-btn022,
.ws-btn033,
.ws-btn044,
.ws-btn055,
.ws-btn066,
.ws-btn077,
.ws-btn088,
.ws-btn099,
.ws-btn01010 {
    color: $orange_hard;
}
