/// name widget

.name-widget {
    background: $background0;
    padding: 10px;
    margin: 0 0 0 0;
    font-weight: bold;
    border-radius: 30px;
    font-size: 18px;
    color: $foreground0;
}

.name-widget .arch {
    margin-right: 10px;
    color: $blue_hard;
}

.name-widget .host {
    color: $blue_light;
}

.name-widget .at {
    color: $background4;
}
